# 1.การวนซ้ำคืออะไร
* การวนซ้ำคือการรันชุดคำสั่งเดิมซ้ำๆจนกว่าจะตรงตามเงื่อนไขหรือจำนวนรอบที่กำหนด 
* มีประโยชน์ในกรณีที่ต้องการรันคำสั่งบนข้อมูลที่มีจำนวนมาก
* แบ่งเป็น 2 ประเภทหลักๆตามลักษณะการทำงาน ได้แก่ for loop และ while loop
 * for loop เป็นการวนซ้ำของคำสั่งโดยมีจำนวนรอบการวนซ้ำจำกัด เช่น วนซ้ำ 10 รอบหรือวนซ้ำตามจำนวน value ที่อยู่ใน list
 * while loop เป็นการวนซ้ำเมื่อตรงตามเงื่อนไข เช่น เมื่อตัวแปรที่กำหนดไว้มีค่าน้อยกว่า 1 จะวนซ้ำคำสั่งไปเรื่อยๆ

# 2.การวนซ้ำแบบ while

## 2.1 อธิบายใช้คำสั่ง while
* while เป็นคำสั่งที่ใช้ในการสร้าง while loop โดยเมื่อ expression ที่กำหนดไว้เป็น True จะมีการวนซ้ำของคำสั่งไปเรื่อยๆ

```python
#Syntax While Loop


while <expr>:
    <statement(s)>


# <statement(s)> represents the block to be repeatedly executed, 
# often referred to as the body of the loop. 
# This is denoted with indentation, just as in an if statement.
```

## 2.2 ยกตัวอย่างการใช้ while

In [42]:
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

# 3.if-else in while

## 3.1 อธิบายการใช้ if-else ใน while

```python

#The syntax


while <expr>:
    <statement(s)>
else:
    <additional_statement(s)>


#The <additional_statement(s)> specified in the else clause will be executed when the while loop terminates.
```

## 3.2 ยกตัวอย่าง if-else ใน while

In [43]:
n = 0
while n < 0:
    n += 1
    # n = n +1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

Loop done.

# 4.Nested while loop and infinite loop

* Suppose you write a while loop that theoretically never ends

## 4.1 ยกตัวอย่าง infinite while loop

```python
>>> while True:
...     print('foo')
...
foo
foo
foo
  .
  .
  .
foo
foo

```

In [7]:
a = 1 
while a == 1:
  print(a)
  # a = a+1
  # break

1

## 4.2 ยกตัวอย่างการใช้ nested while loop

In [55]:
# List_name.pop(index)
# The pop() method removes the item at the given index from the list and returns the removed item.
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [8]:
# len() function returns the number of items in an object.
a = ['foo', 'bar']
b = 'hello'
print(len(a))
print(len(b))

2
5

# 5.one-line while loop

## 5.1 ยกตัวอย่างการเขียน one-line while

In [56]:
n = 5
while n > 0:
  n -= 1
  print(n)

4
3
2
1
0

In [57]:
n = 5 
while n > 0: n -= 1; print(n)

4
3
2
1
0

## 5.2. ข้อจำกัดของการเขียน one-line while

* This only works with simple statements though. You can’t combine two compound statements into one line. Thus, you can specify a while loop all on one line as above, and you write an if statement on one line
```python

>>> if True: print('foo')

foo

But you can’t do this:
>>> while n > 0: n -= 1; if True: print('foo')
SyntaxError: invalid syntax

```

# 6.การวนซ้ำแบบ for

## 6.1 อธิบายใช้คำสั่ง for

```python

#Syntax For Loop

for i in <collection>
    <loop body>

````

## 6.2 ยกตัวอย่างการใช้ for

In [10]:
num = [0,1,2,3,4,5,6,7,8,9]
for i in num:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## extra : List compehention

In [41]:
[print(x) for x in fruits]

apple
banana
cherry

[None, None, None]

# 7.การใช้ range() และ การลูป string

## 7.1 ยกตัวอย่างการใช้ for ใน string

In [58]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## 7.2 ยกตัวอย่างการใช้ range

In [59]:
for i in range(0,10):  # (start, stop, step)
  print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
for i in range(0,10,2):  # (start, stop, step)
  print(i)

0
2
4
6
8

## 7.3 การใช้ for ใน dictionary

In [61]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for key in a_dict:
  print(key)

color
fruit
pet

In [62]:
for key in a_dict:
  print(a_dict[key])

blue
apple
dog

## 7.4 การใช้ for กับ tuple

In [63]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## 7.5 การใช้ for กับ enumerate

In [64]:
# enumerate list
L = ['apples', 'bananas', 'oranges']
for idx, val in enumerate(L):
  print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

In [65]:
# enumerate tuple
t = ('apples', 'bananas', 'oranges')
for idx, val in enumerate(t):
  print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

In [66]:
str = "Python"
for idx, ch in enumerate(str):
  print("index is %d and character is %s" \
         % (idx, ch))

index is 0 and character is P
index is 1 and character is y
index is 2 and character is t
index is 3 and character is h
index is 4 and character is o
index is 5 and character is n

## 7.6 การใช้ for กับ zip

In [67]:
print(list(zip('กขค','abc'))) # ได้ [('ก', 'a'), ('ข', 'b'), ('ค', 'c')]

[('ก', 'a'), ('ข', 'b'), ('ค', 'c')]

In [68]:
a = ['ก','ข','ค','ง']
b = ['a','b','c','d']
for x,y in zip(a,b):
    print(x , y)

ก a
ข b
ค c
ง d

# 8.if-else in for

## 8.1ยกตัวอย่าง if-else ใน for

In [72]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
for char in s:
    if char.isupper():
        print(char, end="")  
        # print(char)

# Python’s print() function comes with a parameter called ‘end’. 
# By default, the value of this parameter is ‘\n’, i.e. the new line character.

HELLO

In [83]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        print('1')
    else : print(i)

foo
1
baz
qux

In [84]:
for x in range(6):
  print(x)
  if x == 3:
    print('3')
  else:
    print("no")

0
no
1
no
2
no
3
3
4
no
5
no

# 9.Nested For Loops and pass For Loops

## 9.1 ยกตัวอย่างการใช้ nested for loop

Loops Inside Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [85]:
adj = ["small", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

small apple
small banana
small cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [86]:
for x in range(12):
    for y in range(12):
        print(x+1,"x",y+1,'=',(x+1)*(y+1))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

# 10.การใช้ Pass Break และ Continue

## 10.1 อธิบายหลักการใช้

* การใช้ break
จะยุติการทำงานทั้งหมดของลูปที่บรรจุคำสั่ง break เอาไว้ แต่ในกรณีการใช้ break กับลูปที่ซ้อนกันหลายชั้น(nested-loop) โปรแกรมจะทำการยุติการทำงานเฉพาะแค่ลูปในสุดที่บรรจุคำสั่งนั้นอยู่เท่านั้น โดยที่ลูปชั้นนอกยังคงดำเนินการต่อไป

* การใช้ continue
ใช้สำหรับกรณีที่ต้องการจะข้ามการทำงานของชุดคำสั่งเฉพาะรอบนั้นๆ ของลูป แต่ไม่ได้ยุติการทำงานทั้งหมดของลูป

* การใช้ Pass ใช้สำหรับกรณีที่ต้องการจะข้ามการทำงานของชุดคำสั่งเฉพาะรอบนั้นๆ ของลูป

## 10.2 ยกตัวอย่างใช้ใน for และ while

In [87]:
adj = ["small", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)
    if y == "banana":
      break

small apple
small banana
big apple
big banana
tasty apple
tasty banana

In [88]:
# break
for i in ['john', 'best', 'tim', 'jason']:
    if i == 'tim':
        break
    print(i)
else:
    print('Done.')

john
best

In [89]:
for number in range(10):
    if number == 5:
        continue    # continue here

    print(f'Number is {number}')

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [90]:
for number in range(10):
    if number == 5:
        pass    # pass here

    print(f'Number is {number}')

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [91]:
s = "Hello World"
  
# Empty loop 
for i in s: 
    # No error will be raised 
    pass